/* Container Margin */
.container{
  margin-top:5%;
}
/* Style to create scroll bar in dropdown */ 
.scrollable-dropdown{
    height: auto;
    max-height:320px;  /* Increase / Decrease value as per your need */
    overflow-x: hidden;
}
